/*Fonts*/

@font-face {
	font-family: "ReemKufi Medium";
	src: url("../../assets//fonts/Reem_Kufi/ReemKufi-Medium.ttf") format(truetype);
};

@font-face {
	font-family: "Outfit Regular";
	src: url("../../assets/fonts/Outfit/Outfit-Regular.ttf") format(truetype);
};

@font-face {
	font-family: "Outfit Bold";
	src: url("../../assets/fonts/Outfit/Outfit-Medium.ttf") format(truetype);
};


/*Breakpoints*/
$breakpoint-mobile: 767px;
$breakpoint-tablet: 1279px;
$breakpoint-desktop: 1280px;

/*Colors*/
$blue50: #BEE3F8;
$blue200: #90CDF4;
$blue300: #63B3ED;
