@import "../../styles/partials/mixins";
@import "../../styles/partials/variables";

.hero {
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	align-items: center;

	&__tagline {
		@include mobile-header;
		font-family: "Outfit Bold";
		border-top: 0.5rem solid $perwinkle;
		padding-top: 2rem;
	}

	&__button {
		font-family: "Outfit Bold";
		background-color: $perwinkle;
		color: white;
		border-radius: 10px;
		width: 15rem;
		height: 6rem;
		margin: 2rem;

		&:hover {
			background-color: $blue200;
		}
	}

	&__icon {
		width: 100%;
		height: auto;
	}
}
